In [1]:
import pandas as pd
import functions as F
dist = pd.read_csv('../OUTPUT/distances.csv')

In [9]:
print('Rate your preferences when choosing your office location')
rate_v = int(input("Rate from 1 to 5 having vegan restaurants near the office:"))
rate_s = int(input("Rate from 1 to 5 having schools near the office:"))
rate_a = int(input("Rate from 1 to 5 having an airport near the office:"))
rate_sb = int(input("Rate from 1 to 5 having starbucks near the office:"))

Rate your preferences when choosing your office location
Rate from 1 to 5 having vegan restaurants near the office:1
Rate from 1 to 5 having schools near the office:5
Rate from 1 to 5 having an airport near the office:3
Rate from 1 to 5 having starbucks near the office:4

In [10]:
rating = [rate_s, rate_v, rate_a, rate_sb]
for e,r in enumerate(rating):
    dist[f'distance{e+1}']= dist[f'distance{e+1}'].apply(lambda x: F.ponderation(r,x))

In [11]:
dist['Total'] =  dist.iloc[:, -4:-1].sum(axis=1)

In [12]:
dist.sort_values('Total',ascending=True)

,Unnamed: 0,location_companies,location_schools,location_vegan,location_airports,location_starbucks,distance1,distance2,distance3,distance4,Total
28,28,"{'type': 'Point', 'coordinates': [-118.397818,...","{'type': 'Point', 'coordinates': [-118.4046123...","{'type': 'Point', 'coordinates': [-118.39592, ...","{'type': 'Point', 'coordinates': [-118.402469,...","{'type': 'Point', 'coordinates': [-118.4, 33.92]}",0.76,0.14,0.43,0.46,1.03
4,4,"{'type': 'Point', 'coordinates': [-113.515769,...","{'type': 'Point', 'coordinates': [-113.5241045...","{'type': 'Point', 'coordinates': [-113.5144264...","{'type': 'Point', 'coordinates': [-113.522974,...","{'type': 'Point', 'coordinates': [-113.51, 53....",0.56,0.07,0.71,0.31,1.09
35,35,"{'type': 'Point', 'coordinates': [-71.0597732,...","{'type': 'Point', 'coordinates': [-71.059016, ...","{'type': 'Point', 'coordinates': [-71.0627071,...","{'type': 'Point', 'coordinates': [-71.016407, ...","{'type': 'Point', 'coordinates': [-71.06, 42.36]}",0.06,0.13,0.88,0.09,1.10
42,42,"{'type': 'Point', 'coordinates': [-96.8432224,...","{'type': 'Point', 'coordinates': [-96.83647769...","{'type': 'Point', 'coordinates': [-96.8388615,...","{'type': 'Point', 'coordinates': [-96.849864, ...","{'type': 'Point', 'coordinates': [-96.83, 32.83]}",1.01,0.07,0.49,0.62,1.18
21,21,"{'type': 'Point', 'coordinates': [6.1503245, 4...","{'type': 'Point', 'coordinates': [6.1450752, 4...","{'type': 'Point', 'coordinates': [6.1554062, 4...","{'type': 'Point', 'coordinates': [6.107946, 46...","{'type': 'Point', 'coordinates': [6.15, 46.21]}",0.73,0.16,0.93,0.11,1.20
...,...,...,...,...,...,...,...,...,...,...,...
6,6,"{'type': 'Point', 'coordinates': [-122.274771,...","{'type': 'Point', 'coordinates': [-122.2853413...","{'type': 'Point', 'coordinates': [-122.2704957...","{'type': 'Point', 'coordinates': [-122.213261,...","{'type': 'Point', 'coordinates': [-122.28, 37....",0.95,0.20,2.32,0.32,2.84
61,61,"{'type': 'Point', 'coordinates': [-80.1899371,...","{'type': 'Point', 'coordinates': [-80.2000932,...","{'type': 'Point', 'coordinates': [-80.190075, ...","{'type': 'Point', 'coordinates': [-80.145259, ...","{'type': 'Point', 'coordinates': [-80.18, 26.03]}",1.15,0.04,1.11,1.71,2.86
36,36,"{'type': 'Point', 'coordinates': [10.0184565, ...","{'type': 'Point', 'coordinates': [10.0272501, ...","{'type': 'Point', 'coordinates': [10.0118409, ...","{'type': 'Point', 'coordinates': [10.005648, 5...","{'type': 'Point', 'coordinates': [9.99, 53.56]}",0.58,0.15,1.57,1.16,2.88
8,8,"{'type': 'Point', 'coordinates': [8.5082891, 4...","{'type': 'Point', 'coordinates': [8.5208388, 4...","{'type': 'Point', 'coordinates': [8.5091667, 4...","{'type': 'Point', 'coordinates': [8.562213, 47...","{'type': 'Point', 'coordinates': [8.53, 47.38]}",0.97,0.01,1.90,0.99,2.90
57,57,"{'type': 'Point', 'coordinates': [9.9490139, 5...","{'type': 'Point', 'coordinates': [9.9524268999...","{'type': 'Point', 'coordinates': [9.9595019, 5...","{'type': 'Point', 'coordinates': [10.005648, 5...","{'type': 'Point', 'coordinates': [9.99, 53.56]}",0.23,0.11,2.06,1.30,3.47